# Airbnb Vienna Exploratory Analysis

### Libraries

In [ ]:
import pandas as pd
import numpy as np

pd.options.display.max_columns = 0

### Data loading and preview

In [2]:
df = pd.read_csv('http://data.insideairbnb.com/austria/vienna/vienna/2023-12-15/data/listings.csv.gz', index_col='id')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14697 entries, 38768 to 1046241477177647354
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   listing_url                                   14697 non-null  object
 1   scrape_id                                     14697 non-null  int64
 2   last_scraped                                  14697 non-null  object
 3   source                                        14697 non-null  object
 4   name                                          14697 non-null  object
 5   description                                   0 non-null      float64
 6   neighborhood_overview                         7553 non-null   object
 7   picture_url                                   14697 non-null  object
 8   host_id                                       14697 non-null  int64
 9   host_url                                      14697 non-null  object
 10  host_name                                     14695 non-null  object
 11  host_since                                    14695 non-null  object
 12  host_location                                 11043 non-null  object
 13  host_about                                    7304 non-null   object
 14  host_response_time                            10819 non-null  object
 15  host_response_rate                            10819 non-null  object
 16  host_acceptance_rate                          11339 non-null  object
 17  host_is_superhost                             14491 non-null  object
 18  host_thumbnail_url                            14695 non-null  object
 19  host_picture_url                              14695 non-null  object
 20  host_neighbourhood                            6743 non-null   object
 21  host_listings_count                           14695 non-null  float64
 22  host_total_listings_count                     14695 non-null  float64
 23  host_verifications                            14695 non-null  object
 24  host_has_profile_pic                          14695 non-null  object
 25  host_identity_verified                        14695 non-null  object
 26  neighbourhood                                 7553 non-null   object
 27  neighbourhood_cleansed                        14697 non-null  object
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      14697 non-null  float64
 30  longitude                                     14697 non-null  float64
 31  property_type                                 14697 non-null  object
 32  room_type                                     14697 non-null  object
 33  accommodates                                  14697 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                14693 non-null  object
 36  bedrooms                                      0 non-null      float64
 37  beds                                          14441 non-null  float64
 38  amenities                                     14697 non-null  object
 39  price                                         11828 non-null  object
 40  minimum_nights                                14697 non-null  int64
 41  maximum_nights                                14697 non-null  int64
 42  minimum_minimum_nights                        14697 non-null  int64
 43  maximum_minimum_nights                        14697 non-null  int64
 44  minimum_maximum_nights                        14697 non-null  int64
 45  maximum_maximum_nights                        14697 non-null  int64
 46  minimum_nights_avg_ntm                        14697 non-null  float64
 47  maximum_nights_avg_ntm                        14697 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              11828 non-null  object
 50  availability_30                               14697 non-null  int64
 51  availability_60                               14697 non-null  int64
 52  availability_90                               14697 non-null  int64
 53  availability_365                              14697 non-null  int64
 54  calendar_last_scraped                         14697 non-null  object
 55  number_of_reviews                             14697 non-null  int64
 56  number_of_reviews_ltm                         14697 non-null  int64
 57  number_of_reviews_l30d                        14697 non-null  int64
 58  first_review                                  12144 non-null  object
 59  last_review                                   12144 non-null  object
 60  review_scores_rating                          12168 non-null  float64
 61  review_scores_accuracy                        12167 non-null  float64
 62  review_scores_cleanliness                     12167 non-null  float64
 63  review_scores_checkin                         12167 non-null  float64
 64  review_scores_communication                   12168 non-null  float64
 65  review_scores_location                        12167 non-null  float64
 66  review_scores_value                           12165 non-null  float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              14697 non-null  object
 69  calculated_host_listings_count                14697 non-null  int64
 70  calculated_host_listings_count_entire_homes   14697 non-null  int64
 71  calculated_host_listings_count_private_rooms  14697 non-null  int64
 72  calculated_host_listings_count_shared_rooms   14697 non-null  int64
 73  reviews_per_month                             12144 non-null  float64
dtypes: float64(21), int64(20), object(33)
memory usage: 8.4+ MB

In [4]:
df.head()

                              listing_url  ...  reviews_per_month
id                                         ...
38768  https://www.airbnb.com/rooms/38768  ...               2.48
40625  https://www.airbnb.com/rooms/40625  ...               1.24
51287  https://www.airbnb.com/rooms/51287  ...               2.36
70637  https://www.airbnb.com/rooms/70637  ...               0.75
75500  https://www.airbnb.com/rooms/75500  ...               0.08

[5 rows x 74 columns]

### Data types correction

#### Categorical and boolean data

In [ ]:
categories = [
    'source',
    'host_response_time',
    'neighbourhood_cleansed',
    'room_type'
]

df[categories] = df[categories].astype('category')

booleans = [
    'host_is_superhost',
    'host_has_profile_pic',
    'host_identity_verified',
    'has_availability',
    'instant_bookable'
]

df[booleans] = df[booleans].replace({'t': True, 'f': False}).fillna(False)

#### Numerical data

In [6]:
numbers = [
    'host_response_rate',
    'host_acceptance_rate'
]

for x in numbers:
    df[x] = df[x].str.replace('%', '').astype('float') / 100

df['bathrooms'] = np.where(df['bathrooms_text'].str.contains('half', case=False), 0.5, df['bathrooms_text'].str.split().str[0]).astype('float')
df['price'] = df['price'].str.replace('[$,]', '', regex=True).astype('float')

#### Datetime data

In [7]:
dates = [
    'last_scraped',
    'host_since',
    'calendar_last_scraped',
    'first_review',
    'last_review'
]

for x in dates:
    df[x] = pd.to_datetime(df[x])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14697 entries, 38768 to 1046241477177647354
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   listing_url                                   14697 non-null  object
 1   scrape_id                                     14697 non-null  int64
 2   last_scraped                                  14697 non-null  datetime64[ns]
 3   source                                        14697 non-null  category
 4   name                                          14697 non-null  object
 5   description                                   0 non-null      float64
 6   neighborhood_overview                         7553 non-null   object
 7   picture_url                                   14697 non-null  object
 8   host_id                                       14697 non-null  int64
 9   host_url                                      14697 non-null  object
 10  host_name                                     14695 non-null  object
 11  host_since                                    14695 non-null  datetime64[ns]
 12  host_location                                 11043 non-null  object
 13  host_about                                    7304 non-null   object
 14  host_response_time                            10819 non-null  category
 15  host_response_rate                            10819 non-null  float64
 16  host_acceptance_rate                          11339 non-null  float64
 17  host_is_superhost                             14697 non-null  bool
 18  host_thumbnail_url                            14695 non-null  object
 19  host_picture_url                              14695 non-null  object
 20  host_neighbourhood                            6743 non-null   object
 21  host_listings_count                           14695 non-null  float64
 22  host_total_listings_count                     14695 non-null  float64
 23  host_verifications                            14695 non-null  object
 24  host_has_profile_pic                          14697 non-null  bool
 25  host_identity_verified                        14697 non-null  bool
 26  neighbourhood                                 7553 non-null   object
 27  neighbourhood_cleansed                        14697 non-null  category
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      14697 non-null  float64
 30  longitude                                     14697 non-null  float64
 31  property_type                                 14697 non-null  object
 32  room_type                                     14697 non-null  category
 33  accommodates                                  14697 non-null  int64
 34  bathrooms                                     14697 non-null  float64
 35  bathrooms_text                                14693 non-null  object
 36  bedrooms                                      0 non-null      float64
 37  beds                                          14441 non-null  float64
 38  amenities                                     14697 non-null  object
 39  price                                         11828 non-null  float64
 40  minimum_nights                                14697 non-null  int64
 41  maximum_nights                                14697 non-null  int64
 42  minimum_minimum_nights                        14697 non-null  int64
 43  maximum_minimum_nights                        14697 non-null  int64
 44  minimum_maximum_nights                        14697 non-null  int64
 45  maximum_maximum_nights                        14697 non-null  int64
 46  minimum_nights_avg_ntm                        14697 non-null  float64
 47  maximum_nights_avg_ntm                        14697 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              14697 non-null  bool
 50  availability_30                               14697 non-null  int64
 51  availability_60                               14697 non-null  int64
 52  availability_90                               14697 non-null  int64
 53  availability_365                              14697 non-null  int64
 54  calendar_last_scraped                         14697 non-null  datetime64[ns]
 55  number_of_reviews                             14697 non-null  int64
 56  number_of_reviews_ltm                         14697 non-null  int64
 57  number_of_reviews_l30d                        14697 non-null  int64
 58  first_review                                  12144 non-null  datetime64[ns]
 59  last_review                                   12144 non-null  datetime64[ns]
 60  review_scores_rating                          12168 non-null  float64
 61  review_scores_accuracy                        12167 non-null  float64
 62  review_scores_cleanliness                     12167 non-null  float64
 63  review_scores_checkin                         12167 non-null  float64
 64  review_scores_communication                   12168 non-null  float64
 65  review_scores_location                        12167 non-null  float64
 66  review_scores_value                           12165 non-null  float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              14697 non-null  bool
 69  calculated_host_listings_count                14697 non-null  int64
 70  calculated_host_listings_count_entire_homes   14697 non-null  int64
 71  calculated_host_listings_count_private_rooms  14697 non-null  int64
 72  calculated_host_listings_count_shared_rooms   14697 non-null  int64
 73  reviews_per_month                             12144 non-null  float64
dtypes: bool(5), category(4), datetime64[ns](5), float64(24), int64(20), object(16)
memory usage: 7.5+ MB

### Data summary

#### Numerical data

In [9]:
numerical_data = [
    'host_response_rate',
    'host_acceptance_rate',
    'host_listings_count',
    'accommodates',
    'bathrooms',
    'beds',
    'price',
    'minimum_nights',
    'maximum_nights',
    'availability_30',
    'availability_60',
    'availability_90',
    'availability_365',
    'number_of_reviews',
    'review_scores_rating',
    'review_scores_accuracy',
    'review_scores_cleanliness',
    'review_scores_checkin',
    'review_scores_communication',
    'review_scores_location',
    'review_scores_value',
    'reviews_per_month'
]

In [10]:
summary_numerical = df[numerical_data].describe().round(2).T
summary_numerical['missing'] = df.count().max() - summary_numerical['count']
summary_numerical

                               count    mean  ...       max  missing
host_response_rate           10819.0    0.95  ...      1.00   3878.0
host_acceptance_rate         11339.0    0.90  ...      1.00   3358.0
host_listings_count          14695.0   29.98  ...   2461.00      2.0
accommodates                 14697.0    3.45  ...     16.00      0.0
bathrooms                    14697.0    1.19  ...     15.00      0.0
beds                         14441.0    1.93  ...     28.00    256.0
price                        11828.0  135.79  ...  18457.00   2869.0
minimum_nights               14697.0    6.23  ...   1125.00      0.0
maximum_nights               14697.0  495.15  ...  99999.00      0.0
availability_30              14697.0    8.73  ...     30.00      0.0
availability_60              14697.0   23.54  ...     60.00      0.0
availability_90              14697.0   38.98  ...     90.00      0.0
availability_365             14697.0  145.42  ...    365.00      0.0
number_of_reviews            14697.0   38.48  ...   1008.00      0.0
review_scores_rating         12168.0    4.70  ...      5.00   2529.0
review_scores_accuracy       12167.0    4.76  ...      5.00   2530.0
review_scores_cleanliness    12167.0    4.68  ...      5.00   2530.0
review_scores_checkin        12167.0    4.81  ...      5.00   2530.0
review_scores_communication  12168.0    4.80  ...      5.00   2529.0
review_scores_location       12167.0    4.70  ...      5.00   2530.0
review_scores_value          12165.0    4.64  ...      5.00   2532.0
reviews_per_month            12144.0    1.60  ...     30.83   2553.0

[22 rows x 9 columns]

#### Categorical data

In [11]:
categorical_data = [
    'host_response_time',
    'host_is_superhost',
    'host_has_profile_pic',
    'host_identity_verified',
    'neighbourhood_cleansed',
    'room_type',
    'has_availability',
    'instant_bookable'
]

In [12]:
summary_categorical = df[categorical_data].describe().round(2).T
summary_categorical['missing'] = df.count().max() - summary_categorical['count']
summary_categorical

                        count unique              top   freq missing
host_response_time      10819      4   within an hour   8552    3878
host_is_superhost       14697      2            False  10900       0
host_has_profile_pic    14697      2             True  14221       0
host_identity_verified  14697      2             True  13178       0
neighbourhood_cleansed  14697     23     Leopoldstadt   1693       0
room_type               14697      4  Entire home/apt  11838       0
has_availability        14697      2             True  11769       0
instant_bookable        14697      2            False   7667       0

### Missing data and URLs

In [13]:
has_missing_data = df.isna().sum() > 0
df.loc[:, has_missing_data].isna().sum().sort_values() / len(df) * 100

host_total_listings_count         0.013608
host_name                         0.013608
host_since                        0.013608
host_thumbnail_url                0.013608
host_picture_url                  0.013608
host_verifications                0.013608
host_listings_count               0.013608
bathrooms_text                    0.027216
beds                              1.741852
review_scores_rating             17.207593
review_scores_communication      17.207593
review_scores_accuracy           17.214397
review_scores_location           17.214397
review_scores_checkin            17.214397
review_scores_cleanliness        17.214397
review_scores_value              17.228006
first_review                     17.370892
last_review                      17.370892
reviews_per_month                17.370892
price                            19.520991
host_acceptance_rate             22.848200
host_location                    24.862217
host_response_rate               26.386337
host_response_time               26.386337
neighbourhood                    48.608560
neighborhood_overview            48.608560
host_about                       50.302783
host_neighbourhood               54.119888
description                     100.000000
bedrooms                        100.000000
license                         100.000000
calendar_updated                100.000000
neighbourhood_group_cleansed    100.000000
dtype: float64

In [14]:
is_url = df.columns.str.contains('url')
df.loc[:, is_url].columns

Index(['listing_url', 'picture_url', 'host_url', 'host_thumbnail_url',
       'host_picture_url'],
      dtype='object')

In [15]:
df.drop([
    'neighbourhood_group_cleansed',
    'calendar_updated',
    'license',
    'bedrooms',
    'description',
    'host_neighbourhood',
    'host_about',
    'neighborhood_overview',
    'neighbourhood',
    'listing_url',
    'picture_url',
    'host_url',
    'host_thumbnail_url',
    'host_picture_url',
], axis=1, inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14697 entries, 38768 to 1046241477177647354
Data columns (total 60 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   scrape_id                                     14697 non-null  int64
 1   last_scraped                                  14697 non-null  datetime64[ns]
 2   source                                        14697 non-null  category
 3   name                                          14697 non-null  object
 4   host_id                                       14697 non-null  int64
 5   host_name                                     14695 non-null  object
 6   host_since                                    14695 non-null  datetime64[ns]
 7   host_location                                 11043 non-null  object
 8   host_response_time                            10819 non-null  category
 9   host_response_rate                            10819 non-null  float64
 10  host_acceptance_rate                          11339 non-null  float64
 11  host_is_superhost                             14697 non-null  bool
 12  host_listings_count                           14695 non-null  float64
 13  host_total_listings_count                     14695 non-null  float64
 14  host_verifications                            14695 non-null  object
 15  host_has_profile_pic                          14697 non-null  bool
 16  host_identity_verified                        14697 non-null  bool
 17  neighbourhood_cleansed                        14697 non-null  category
 18  latitude                                      14697 non-null  float64
 19  longitude                                     14697 non-null  float64
 20  property_type                                 14697 non-null  object
 21  room_type                                     14697 non-null  category
 22  accommodates                                  14697 non-null  int64
 23  bathrooms                                     14697 non-null  float64
 24  bathrooms_text                                14693 non-null  object
 25  beds                                          14441 non-null  float64
 26  amenities                                     14697 non-null  object
 27  price                                         11828 non-null  float64
 28  minimum_nights                                14697 non-null  int64
 29  maximum_nights                                14697 non-null  int64
 30  minimum_minimum_nights                        14697 non-null  int64
 31  maximum_minimum_nights                        14697 non-null  int64
 32  minimum_maximum_nights                        14697 non-null  int64
 33  maximum_maximum_nights                        14697 non-null  int64
 34  minimum_nights_avg_ntm                        14697 non-null  float64
 35  maximum_nights_avg_ntm                        14697 non-null  float64
 36  has_availability                              14697 non-null  bool
 37  availability_30                               14697 non-null  int64
 38  availability_60                               14697 non-null  int64
 39  availability_90                               14697 non-null  int64
 40  availability_365                              14697 non-null  int64
 41  calendar_last_scraped                         14697 non-null  datetime64[ns]
 42  number_of_reviews                             14697 non-null  int64
 43  number_of_reviews_ltm                         14697 non-null  int64
 44  number_of_reviews_l30d                        14697 non-null  int64
 45  first_review                                  12144 non-null  datetime64[ns]
 46  last_review                                   12144 non-null  datetime64[ns]
 47  review_scores_rating                          12168 non-null  float64
 48  review_scores_accuracy                        12167 non-null  float64
 49  review_scores_cleanliness                     12167 non-null  float64
 50  review_scores_checkin                         12167 non-null  float64
 51  review_scores_communication                   12168 non-null  float64
 52  review_scores_location                        12167 non-null  float64
 53  review_scores_value                           12165 non-null  float64
 54  instant_bookable                              14697 non-null  bool
 55  calculated_host_listings_count                14697 non-null  int64
 56  calculated_host_listings_count_entire_homes   14697 non-null  int64
 57  calculated_host_listings_count_private_rooms  14697 non-null  int64
 58  calculated_host_listings_count_shared_rooms   14697 non-null  int64
 59  reviews_per_month                             12144 non-null  float64
dtypes: bool(5), category(4), datetime64[ns](5), float64(19), int64(20), object(7)
memory usage: 6.0+ MB